:root {
  /* Colors */
  /* Primary */
  --strong-cyan: hsl(171, 66%, 44%);
  --lt-blue: hsl(233, 100%, 69%);
  /* Neutral */
  --dk-gray-blue: hsl(210, 10%, 33%);
  --gray-blue: hsl(201, 11%, 66%);

  /* Font Styles */
  --font-fam: "Bai Jamjuree", sans-serif;
  --main-fs: 18px;
  --400-fw: 400;
  --600-fw: 600;
}

body {
  font-family: var(--font-fam);
}

#home {
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#home,
#keep-track,
#access-clipboard,
#supercharge,
#partners,
#clipboard-os {
  margin-bottom: 200px;
}

.logo {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.logo-small {
  width: 50px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-title {
  font-size: 1.9rem;
  color: var(--dk-gray-blue);
}

.subsection-title {
  font-size: 1.7rem;
  color: var(--dk-gray-blue);
}

p {
  width: 310px;
  color: var(--gray-blue);
}

.download-btn1 {
  height: 3.7rem;
  background-color: var(--strong-cyan);
  color: white;
  border-bottom: 3px solid hsl(171, 69%, 31%);
  box-shadow: 0px 6px 20px 0.1px hsl(171, 23%, 73%);
}

.download-btn2 {
  height: 3.5rem;
  background-color: var(--lt-blue);
  color: white;
  border-bottom: 3px solid hsl(233, 60%, 52%);
  box-shadow: 0px 6px 20px 0.1px hsl(232, 63%, 81%);
}

.img-devices {
  width: 310px;
}

#clipboard-os p {
  width: 304px;
}

#legal {
  background-color: hsl(180, 9%, 96%);
}

#legal .row {
  width: 180px;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
