:root {
  /* Colors */
  /* Primary */
  --strong-cyan: hsl(171, 66%, 44%);
  --lt-blue: hsl(233, 100%, 69%);
  /* Neutral */
  --dk-gray-blue: hsl(210, 10%, 33%);
  --gray-blue: hsl(201, 11%, 66%);

  /* Font Styles */
  --font-fam: 'Bai Jamjuree', sans-serif;
  --main-fs: 18px;
  --400-fw: 400;
  --600-fw: 600;
}

#home {
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
